<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ORTQ_App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>gotham_medium.otf</string>
		<string>gotham_black.otf</string>
		<string>gotham_extra_light.otf</string>
		<string>gotham_light.otf</string>
		<string>gotham_ultra.otf</string>
		<string>gotham_italic.otf</string>
		<string>gotham_thin_italic.otf</string>
		<string>gotham_italic_bold.otf</string>
		<string>gotham_bold.otf</string>
		<string>gotham_regular.otf</string>
		<string>gotham_book.otf</string>
		<string>fira_sans_medium_italic.ttf</string>
		<string>fira_sans_extra_light.ttf</string>
		<string>fira_sans_semi_bold_italic.ttf</string>
		<string>fira_sans_thin_italic.ttf</string>
		<string>fira_sans_regular.ttf</string>
		<string>fira_sans_light.ttf</string>
		<string>fira_sans_italic.ttf</string>
		<string>fira_sans_black_italic.ttf</string>
		<string>fira_sans_bold.ttf</string>
		<string>fira_sans_extra_bold.ttf</string>
		<string>fira_sans_bold_italic.ttf</string>
		<string>fira_sans_semi_bold.ttf</string>
		<string>fira_sans_extra_light_italic.ttf</string>
		<string>fira_sans_thin.ttf</string>
		<string>gotham_bold_italic.ttf</string>
		<string>fira_sans_extra_bold_italic.ttf</string>
		<string>fira_sans_black.ttf</string>
		<string>fira_sans_light_italic.ttf</string>
		<string>fira_sans_medium.ttf</string>
	</array>
</dict>
</plist>
